In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('C:\\Users\\Sruthi\\Desktop\\project\\new\\uber_rides_data.xlsx - sample_train.csv')

In [3]:
df.shape

(200000, 8)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            200000 non-null  int64
 1   fare_amount        200000 non-null  float64
 2   pickup_datetime    200000 non-null  object
 3   pickup_longitude   200000 non-null  float64
 4   pickup_latitude    200000 non-null  float64
 5   dropoff_longitude  199999 non-null  float64
 6   dropoff_latitude   199999 non-null  float64
 7   passenger_count    200000 non-null  int64
dtypes: float64(5), int64(2), object(1)
memory usage: 12.2+ MB

In [5]:
int_col = df.select_dtypes(include = ['int64']).columns
print(int_col)
print(len(int_col))

Index(['ride_id', 'passenger_count'], dtype='object')
2

In [6]:
df['pickup_datetime'].dtype

dtype('O')

In [7]:
pd.to_datetime(df['pickup_datetime'])

0        2015-05-07 19:52:06+00:00
1        2009-07-17 20:04:56+00:00
2        2009-08-24 21:45:00+00:00
3        2009-06-26 08:22:21+00:00
4        2014-08-28 17:47:00+00:00
                    ...
199995   2012-10-28 10:49:00+00:00
199996   2014-03-14 01:09:00+00:00
199997   2009-06-29 00:42:00+00:00
199998   2015-05-20 14:56:25+00:00
199999   2010-05-15 04:08:00+00:00
Name: pickup_datetime, Length: 200000, dtype: datetime64[ns, UTC]

In [8]:
df.dropna()

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5
...,...,...,...,...,...,...,...,...
199995,42598914,3.0,2012-10-28 10:49:00 UTC,-73.987042,40.739367,-73.986525,40.740297,1
199996,16382965,7.5,2014-03-14 01:09:00 UTC,-73.984722,40.736837,-74.006672,40.739620,1
199997,27804658,30.9,2009-06-29 00:42:00 UTC,-73.986017,40.756487,-73.858957,40.692588,2
199998,20259894,14.5,2015-05-20 14:56:25 UTC,-73.997124,40.725452,-73.983215,40.695416,1
199999,11951496,14.1,2010-05-15 04:08:00 UTC,-73.984395,40.720077,-73.985508,40.768793,1

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            200000 non-null  int64
 1   fare_amount        200000 non-null  float64
 2   pickup_datetime    200000 non-null  object
 3   pickup_longitude   200000 non-null  float64
 4   pickup_latitude    200000 non-null  float64
 5   dropoff_longitude  199999 non-null  float64
 6   dropoff_latitude   199999 non-null  float64
 7   passenger_count    200000 non-null  int64
dtypes: float64(5), int64(2), object(1)
memory usage: 12.2+ MB

#### What is the average fare amount?

Remove the null values from the dataframe to answer the following question

In [10]:
after_drop = df.dropna()
average_fare = after_drop['fare_amount'].mean()
print(average_fare)

11.359891549457748

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            200000 non-null  int64
 1   fare_amount        200000 non-null  float64
 2   pickup_datetime    200000 non-null  object
 3   pickup_longitude   200000 non-null  float64
 4   pickup_latitude    200000 non-null  float64
 5   dropoff_longitude  199999 non-null  float64
 6   dropoff_latitude   199999 non-null  float64
 7   passenger_count    200000 non-null  int64
dtypes: float64(5), int64(2), object(1)
memory usage: 12.2+ MB

#### What is the haversine distance between pickup and dropoff location for the costliest ride?

In [12]:
def haversine(lat1, lon1, lat2, lon2):
    R = 6371.0
    
    lat1 = np.radians(lat1)
    lon1 = np.radians(lon1)
    lat2 = np.radians(lat2)
    lon2 = np.radians(lon2)
    
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    
   
    a = np.sin(dlat / 2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon / 2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
    
    distance = R * c
    return distance

df['distance'] = df.apply(lambda row: haversine(row['pickup_latitude'], row['pickup_longitude'], row['dropoff_latitude'], row['dropoff_longitude']), axis=1)

median_distance = df['distance'].median()

In [13]:
print(median_distance)

2.1209923961833708

#### What is the maximum haversine distance between pickup and dropoff location according to the given dataset?

In [14]:
max_distance = df['distance'].max()
print(max_distance)

16409.239135313168

#### What is the sum of rides with o Haversine distance?

In [15]:
zero_distance_rides = (df['distance'] == 0.0).sum()
print(zero_distance_rides)

5632

#### What is the mean 'fare_amount' for rides with 0 haversine distance?

In [16]:
zero_distance_rides = df[df['distance'] == 0.0]
mean_fare_zero_distance = zero_distance_rides['fare_amount'].mean()
print(mean_fare_zero_distance)

11.585317826704546

####  What is the Maximun fare amount?

In [17]:
max_fare_amount = df['fare_amount'].max()
print(max_fare_amount)

499.0

#### what is the Coastliest ride amount?

In [18]:
costliest_ride = df[df['fare_amount'] == df['fare_amount'].max()]
distance = costliest_ride['distance'].values[0]
print(distance)

0.0007899213191009994

#### All the rides in 2014?

In [19]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])
df['pickup_year'] = df['pickup_datetime'].dt.year
rides_2014 = len(df[df['pickup_year'] == 2014])
print(rides_2014)

29968

#### How many rides were recorded in the first quarter of 2014?

In [20]:
df['pickup_year'] = df['pickup_datetime'].dt.year
df['pickup_quarter'] = df['pickup_datetime'].dt.quarter
rides_2014 = len(df[(df['pickup_year'] == 2014) & (df['pickup_quarter'] == 1)])
print(rides_2014)

7687

#### On which day of the week in September 2010, maximum rides were recorded ?

In [21]:
df['pickup_month'] = df['pickup_datetime'].dt.month
rides_2010 = df[(df['pickup_year'] == 2010) & (df['pickup_month'] == 9)]
day = rides_2010['pickup_datetime'].dt.day_name().mode()[0]
print(day)

Thursday